[submodule "public/libs/zigfy"]
	path = public/libs/zigfy
	url = https://github.com/xionluhnis/zigfy.git
[submodule "public/libs/less-elements"]
	path = public/libs/less-elements
	url = https://github.com/dmitryf/elements.git
[submodule "public/libs/jquery.jeditable"]
	path = public/libs/jquery.jeditable
	url = https://github.com/tuupola/jquery_jeditable
