module.exports = {
  port: process.env.PORT || 3000,
  prefix: process.env.PREFIX || '',
  public: 'public',
  redis: {
    port: process.env.REDIS_PORT,
    host: process.env.REDIS_HOST,
    database: process.env.REDIS_DB || 0
  },
  secrets: {
    session: '^auth-session-abcd$'
  }
};
