.view(ng-controller="EditController")
  h1
    | Edit [
    span
      = path.substring(6, path.length - 10)
    | ]
  textarea(ng-model="contentText", placeHolder="[Nothing yet, create it!]")
  .response(ng-show="response", class="{{status}}") {{response}}
  button(ng-click="save()") Save
  button(ng-click="delete()") Delete
