#view(ng-controller="GalleryController")
  #gallery(ng-class="{withContent: !!content && !hidden}")
    img(ng-repeat="img in images", ng-class="{first: $first, last: $last}", ng-src="{{img}}", ng-finally="createGallery()")

  #contentwrap(ng-model="hidden", ng-init="init=false", ng-class="{full:!!content, hidden: hidden}")
    .wrap
      #content(ng-bind-html="content", ng-show="!!content")
    .switch(ng-click="toggleHidden()")
  nav
    a.back.g(href="..", ng-class="{reduced: !!content}") ⇖ Back
