#view(ng-controller="IndexController")
  #background
    img(ng-repeat="img in images", ng-src="{{img}}", ng-finally="createBg()")

  #cover

  #index
    .title(ng-bind-html="content", ng-show="!!content", class="toload", ng-class="{loaded: contentLoaded}")
    h1(ng-hide="content", class="toload", ng-class="{loaded: contentLoaded}") Gallery {{path}}
    nav
      a.back(href="..") ⇖ Back
    ul
      li(ng-repeat="route in routes")
        a(ng-href="{{route.url}}") {{route.name}}
