#view(ng-controller="IndexController")
  #background
    img(ng-repeat="img in images", ng-src="{{img}}", ng-finally="createBg()")

  #cover

  #index(ng-class="{home: path.length == 0}")
    h1(ng-hide="content", class="toload", ng-class="{loaded: contentLoaded}") Gallery {{path}}
    include metadata
    nav
      a.back(href="..") ⇖ Back
    ul
      li(ng-repeat="route in routes")
        a(ng-href="{{route.url}}") {{route.name}}
