#view(ng-controller="NotFoundController")
  #notfound
    h1 {{path}} not found!
    p
      | Go back to the 
      a(href='/', title="Home") home
      | or just 
      a(href='..', title="Before") above
      | .
