
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #eff5f5;

  a.back {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    padding: 5px;
    color: gray;
    text-decoration: none;
    &:hover {
      background: gray;
      color: white;
    }
  }
}

@import "index.less";
@import "gallery.less";
@import "../libs/zigfy/css/zigfy.css";
