/** less-elements **/
@import "../libs/less-elements/elements.less";

/** application css */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #eff5f5;
  font-family: Tahoma, sans-serif, Arial;

  nav {
    z-index: 100;
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    * {
      float: right;
    }
    a.back {
      padding: 5px;
      color: gray;
      text-decoration: none;
      &:hover {
        background: gray;
        color: white;
      }
    }
  }
  .response {
    padding: 5px;
    color: gray;
    width: 50%;
    height: auto;
    float: left;
    &.error {
      background: red;
      color: white;
    }
    &.ok {
      background: green;
      color: white;
    }
  }
}

/** modules css */

@import "index.less";
@import "metadata.less";
@import "gallery.less";
@import "../libs/zigfy/css/zigfy.css";
@import "auth.less";
@import "notfound.less";
