#wrapper {
  #view {
    #gallery {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      &.withContent {
        width: 70%;
      }
      background: #222 url(../images/loading-dark.gif) center center no-repeat;
      &.zigfy-loaded {
        background: #222;
      }
      img {
        display: none;
      }
    }
    .g {
      background: white;
      background: rgba(255, 255, 255, 0.8);
      z-index: 2;
      &:hover {
        background: gray;
      }
    }
    #contentwrap {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 30%;
      height: 100%;
      overflow: auto;
      #content {
        color: #333;
        padding: 20px 0;
        
        h1 {
          color: white;
          background: #333;
          padding: 0 20px;
        }
        h2 {
          margin: 0 20px;
          padding: 0 15px 0 0;
          border-bottom: 1px solid silver;
        }
        p {
          padding: 5px 20px 5px 30px;
        }
      }
    }
  }
}
